In [95]:
import pandas as pd
import config as cfg
from sqlalchemy import create_engine

In [96]:
# creating a connection to an aws rds postgres cloud database.
rds_connection_string = f'postgres:{cfg.password}@test-db.cy2enoewwvsi.us-east-2.rds.amazonaws.com:5432/stocks_db'
engine = create_engine(f'postgres://{rds_connection_string}')

In [97]:
# checking out the table names in the database.
engine.table_names()

['sandp_russell', 'sandp', 'russell_2000']

In [112]:
# checking out the SandP_500 table.
sandp = pd.read_sql_query('SELECT * FROM sandp', con=engine)
sandp.head()

,symbol,name,price_to_bookvalue,price_to_book,price_to_sales,price_to_earnings,receivables_turnover,price_to_free_cash_flow,price_to_operating_cash_flow,enterprise_value_multiple,...,three_year_dividend_growth_per_share,receivables_growh,inventory_growth,asset_growth,book_value_per_share_growth,debt_growth,randd_expense_growth,sganda_expense_growth,percent_return_on_investment,above_below_sandp_return
0,A,"Agilent Technologies, Inc.",2.55170,5.17165,1.48130,6.30885,7.0014,18.1807,13.57995,16.746223,...,-99.0,0.11660,0.0758,0.18005,0.15185,0.31885,-0.0674,0.01880,215.407785,1
1,AAL,"American Airlines Group, Inc.",-99.00000,-99.00000,0.11565,-99.00000,27.3348,-99.0000,2.20925,61.812855,...,-99.0,-0.04605,0.0637,-0.00170,-0.06235,0.00975,-99.0000,0.01435,492.976589,1
2,AAP,"Advance Auto Parts, Inc.",2.95660,3.10380,0.70600,14.16840,57.0461,7.4185,5.46130,0.499984,...,-99.0,-0.04780,0.0054,0.03670,0.19520,-0.57150,-99.0000,0.10360,158.290852,1
3,AAPL,"Apple, Inc.",5.42765,4.62715,3.98235,19.54495,10.0906,17.3279,15.35960,0.493341,...,-99.0,1.02515,0.6019,0.44800,0.44245,-99.00000,0.2694,0.21645,641.441749,1
4,ABBV,"AbbVie, Inc.",16.46870,-99.00000,3.01900,10.48360,-99.0000,9.2123,8.74540,0.001609,...,-99.0,-99.00000,-99.0000,-99.00000,-99.00000,-99.00000,0.4613,0.14080,127.493713,0

In [99]:
# checking out the sandp_russell data.
sandp_russell = pd.read_sql_query('SELECT * FROM sandp_russell', con=engine)
# dropping wierd column that showed up and dont want to do other process.
sandp_russell = sandp_russell.drop(columns={'Unnamed: 0'})
sandp_russell.head()

,symbol,name,price_to_bookvalue,price_to_book,price_to_sales,price_to_earnings,receivables_turnover,price_to_free_cash_flow,price_to_operating_cash_flow,enterprise_value_multiple,...,five_year_dividend_growth_per_share,three_year_dividend_growth_per_share,receivables_growh,inventory_growth,asset_growth,book_value_per_share_growth,debt_growth,randd_expense_growth,sganda_expense_growth,percent_return_on_investment
0,A,"Agilent Technologies, Inc.",2.5517,5.17165,1.48130,6.30885,7.0014,18.18070,13.57995,16.746223,...,-99.00000,-99.0000,0.11660,0.07580,0.18005,0.15185,0.31885,-0.0674,0.01880,215.407785
1,AAL,"American Airlines Group, Inc.",-99.0000,-99.00000,0.11565,-99.00000,27.3348,-99.00000,2.20925,61.812855,...,-99.00000,-99.0000,-0.04605,0.06370,-0.00170,-0.06235,0.00975,-99.0000,0.01435,492.976589
2,AAN,"Aaron's, Inc.",1.5315,1.95610,0.78855,12.37860,27.7757,59.12785,19.92670,0.126805,...,0.09225,0.0635,0.08230,-99.00000,0.10410,0.12870,-0.38070,-99.0000,0.08135,153.807704
3,AAON,"AAON, Inc.",3.4176,3.41760,1.63730,16.86505,6.7351,20.69945,10.96230,0.287753,...,-99.00000,0.0889,0.02775,-0.02075,0.06795,0.13045,-0.98780,-99.0000,-0.02605,454.948301
4,AAP,"Advance Auto Parts, Inc.",2.9566,3.10380,0.70600,14.16840,57.0461,7.41850,5.46130,0.499984,...,-99.00000,-99.0000,-0.04780,0.00540,0.03670,0.19520,-0.57150,-99.0000,0.10360,158.290852

In [100]:
# checking out the russell_2000 data.
russell = pd.read_sql_query('SELECT * FROM russell_2000', con=engine)
russell.head()

,symbol,name,price_to_bookvalue,price_to_book,price_to_sales,price_to_earnings,receivables_turnover,price_to_free_cash_flow,price_to_operating_cash_flow,enterprise_value_multiple,...,five_year_dividend_growth_per_share,three_year_dividend_growth_per_share,receivables_growh,inventory_growth,asset_growth,book_value_per_share_growth,debt_growth,randd_expense_growth,sganda_expense_growth,percent_return_on_investment
0,AAN,"Aaron's, Inc.",1.5315,1.95610,0.78855,12.37860,27.77570,59.12785,19.92670,0.126805,...,0.09225,0.0635,0.08230,-99.00000,0.10410,0.12870,-0.38070,-99.00000,0.08135,153.807704
1,AAON,"AAON, Inc.",3.4176,3.41760,1.63730,16.86505,6.73510,20.69945,10.96230,0.287753,...,-99.00000,0.0889,0.02775,-0.02075,0.06795,0.13045,-0.98780,-99.00000,-0.02605,454.948301
2,AAT,"American Assets Trust, Inc.",-99.0000,-99.00000,7.06720,261.50000,3.15505,18.73490,17.21230,0.503388,...,-99.00000,-99.0000,-0.22290,-99.00000,0.07845,-99.00000,0.07855,-99.00000,0.02340,94.603022
3,AAWW,"Atlas Air Worldwide Holdings, Inc.",1.1936,1.24460,0.91035,10.26345,18.45670,5.75450,4.40720,4.241562,...,-99.00000,-99.0000,0.07730,-99.00000,0.09980,0.13710,-0.14835,-99.00000,0.01570,32.021883
4,AAXN,"Axon Enterprise, Inc.",2.4052,2.46675,2.99445,-99.00000,6.24490,-99.00000,214.55715,15.927844,...,-99.00000,-99.0000,-0.10185,0.15055,0.02425,0.02140,-99.00000,0.05945,0.00815,731.264916

In [ ]:
# sandp returned about 146 from 2009/2010 to 2018/2019.

In [101]:
dataframes = [sandp, sandp_russell, russell]
for df in dataframes:
    above_below_sandp = []
    for returns in df['percent_return_on_investment']:
        if returns > 146:
            above_below_sandp.append(1)

        else:
            above_below_sandp.append(0)

    df['above_below_sandp_return'] = above_below_sandp

In [105]:
sandp.head()

,symbol,name,price_to_bookvalue,price_to_book,price_to_sales,price_to_earnings,receivables_turnover,price_to_free_cash_flow,price_to_operating_cash_flow,enterprise_value_multiple,...,three_year_dividend_growth_per_share,receivables_growh,inventory_growth,asset_growth,book_value_per_share_growth,debt_growth,randd_expense_growth,sganda_expense_growth,percent_return_on_investment,above_below_sandp_return
0,A,"Agilent Technologies, Inc.",2.55170,5.17165,1.48130,6.30885,7.0014,18.1807,13.57995,16.746223,...,-99.0,0.11660,0.0758,0.18005,0.15185,0.31885,-0.0674,0.01880,215.407785,1
1,AAL,"American Airlines Group, Inc.",-99.00000,-99.00000,0.11565,-99.00000,27.3348,-99.0000,2.20925,61.812855,...,-99.0,-0.04605,0.0637,-0.00170,-0.06235,0.00975,-99.0000,0.01435,492.976589,1
2,AAP,"Advance Auto Parts, Inc.",2.95660,3.10380,0.70600,14.16840,57.0461,7.4185,5.46130,0.499984,...,-99.0,-0.04780,0.0054,0.03670,0.19520,-0.57150,-99.0000,0.10360,158.290852,1
3,AAPL,"Apple, Inc.",5.42765,4.62715,3.98235,19.54495,10.0906,17.3279,15.35960,0.493341,...,-99.0,1.02515,0.6019,0.44800,0.44245,-99.00000,0.2694,0.21645,641.441749,1
4,ABBV,"AbbVie, Inc.",16.46870,-99.00000,3.01900,10.48360,-99.0000,9.2123,8.74540,0.001609,...,-99.0,-99.00000,-99.0000,-99.00000,-99.00000,-99.00000,0.4613,0.14080,127.493713,0

In [106]:
sandp_russell.head()

,symbol,name,price_to_bookvalue,price_to_book,price_to_sales,price_to_earnings,receivables_turnover,price_to_free_cash_flow,price_to_operating_cash_flow,enterprise_value_multiple,...,three_year_dividend_growth_per_share,receivables_growh,inventory_growth,asset_growth,book_value_per_share_growth,debt_growth,randd_expense_growth,sganda_expense_growth,percent_return_on_investment,above_below_sandp_return
0,A,"Agilent Technologies, Inc.",2.5517,5.17165,1.48130,6.30885,7.0014,18.18070,13.57995,16.746223,...,-99.0000,0.11660,0.07580,0.18005,0.15185,0.31885,-0.0674,0.01880,215.407785,1
1,AAL,"American Airlines Group, Inc.",-99.0000,-99.00000,0.11565,-99.00000,27.3348,-99.00000,2.20925,61.812855,...,-99.0000,-0.04605,0.06370,-0.00170,-0.06235,0.00975,-99.0000,0.01435,492.976589,1
2,AAN,"Aaron's, Inc.",1.5315,1.95610,0.78855,12.37860,27.7757,59.12785,19.92670,0.126805,...,0.0635,0.08230,-99.00000,0.10410,0.12870,-0.38070,-99.0000,0.08135,153.807704,1
3,AAON,"AAON, Inc.",3.4176,3.41760,1.63730,16.86505,6.7351,20.69945,10.96230,0.287753,...,0.0889,0.02775,-0.02075,0.06795,0.13045,-0.98780,-99.0000,-0.02605,454.948301,1
4,AAP,"Advance Auto Parts, Inc.",2.9566,3.10380,0.70600,14.16840,57.0461,7.41850,5.46130,0.499984,...,-99.0000,-0.04780,0.00540,0.03670,0.19520,-0.57150,-99.0000,0.10360,158.290852,1

In [107]:
russell.head()

,symbol,name,price_to_bookvalue,price_to_book,price_to_sales,price_to_earnings,receivables_turnover,price_to_free_cash_flow,price_to_operating_cash_flow,enterprise_value_multiple,...,three_year_dividend_growth_per_share,receivables_growh,inventory_growth,asset_growth,book_value_per_share_growth,debt_growth,randd_expense_growth,sganda_expense_growth,percent_return_on_investment,above_below_sandp_return
0,AAN,"Aaron's, Inc.",1.5315,1.95610,0.78855,12.37860,27.77570,59.12785,19.92670,0.126805,...,0.0635,0.08230,-99.00000,0.10410,0.12870,-0.38070,-99.00000,0.08135,153.807704,1
1,AAON,"AAON, Inc.",3.4176,3.41760,1.63730,16.86505,6.73510,20.69945,10.96230,0.287753,...,0.0889,0.02775,-0.02075,0.06795,0.13045,-0.98780,-99.00000,-0.02605,454.948301,1
2,AAT,"American Assets Trust, Inc.",-99.0000,-99.00000,7.06720,261.50000,3.15505,18.73490,17.21230,0.503388,...,-99.0000,-0.22290,-99.00000,0.07845,-99.00000,0.07855,-99.00000,0.02340,94.603022,0
3,AAWW,"Atlas Air Worldwide Holdings, Inc.",1.1936,1.24460,0.91035,10.26345,18.45670,5.75450,4.40720,4.241562,...,-99.0000,0.07730,-99.00000,0.09980,0.13710,-0.14835,-99.00000,0.01570,32.021883,0
4,AAXN,"Axon Enterprise, Inc.",2.4052,2.46675,2.99445,-99.00000,6.24490,-99.00000,214.55715,15.927844,...,-99.0000,-0.10185,0.15055,0.02425,0.02140,-99.00000,0.05945,0.00815,731.264916,1

In [108]:
sandp.to_sql(name='sandp', con=engine, if_exists='replace', index=False)

In [109]:
russell.to_sql(name='russell_2000', con=engine, if_exists='replace', index=False)

In [111]:
sandp_russell.to_sql(name='sandp_russell', con=engine, if_exists='replace', index=False)